.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

#container-card {
    display: flex;
    padding: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 30px;
    background: #62112B;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin: 40px;
    width: max-content;
    align-items: center;
}

.user-column {
    display: flex;
    max-width: 940px;
    align-items: flex-start;
    align-content: flex-start;
    gap: 20px;
    flex-wrap: wrap;
}

.user-card {
    display: flex;
    width: 300px;
    padding: 41px 48px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 30px;
    background: #F1C8D5;
}